body{
font-family: 'Segoe UI', Arial, sans-serif;
margin:0;
background:#f7f7f7;
color:#333;
}

/* contenedor centrado */
.container{
max-width:1000px;
margin:auto;
padding:40px 20px;
}

/* HERO */

.hero .profile-pic{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
display:block;
margin-left:auto;
margin-right:auto;
}

.hero{
text-align:center;
padding:40px 20px 20px 20px;
}

.hero h1{
font-size:35px;
}

.hero h3{
font-weight:450;
color:#666;
margin-bottom:20px;
font-size:25px;
}

.hero p{
max-width:600px;
margin:auto;
color:#555;
font-size:18px;
}

/* botones */
.buttons{
display:flex;
justify-content:center;
gap:50px;
margin-top:40px;
}

.circle-container{
display:flex;
flex-direction:column;
align-items:center;
}

.circle{
width:65px;
height:65px;
border-radius:50%;
background:white;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
font-size:26px;
border:1px solid #e5e5e5;
box-shadow:0 3px 8px rgba(0,0,0,0.08);
transition:0.25s;
}

.circle:hover{
transform:translateY(-5px);
box-shadow:0 8px 18px rgba(0,0,0,0.15);
}

.github-link{
color:#333;
}

.github-link i{
font-size:45px;
}

.linkedin-link i{
font-size:38px;
}

.download-link i{
font-size:33px;
}

.linkedin-link{
color:#0a66c2;
}

.download-link{
color:#444;
}

.label{
margin-top:10px;
font-size:14px;
color:#555;
}


/* EDUCATION */
.education{
text-align:center;
padding:20px;
}

.education-header{
display:flex;
justify-content:center;
align-items:center;
gap:8px;
margin-top:-8px;
margin-bottom:0px;
}

.education-header i{
font-size:24px;

}

.education-header h3{
font-weight:520;
}

.education p{
margin:3px 0;
color:#555;
font-size:18px;
}

.education .date{
color:#888;
font-size:14px;
}

.education h2{
font-size:22px;
}

/* SKILLS */

.skills-section{
margin-top:30px;
}

.skills-title{
text-align:center;
font-size:22px;
margin-bottom:40px;
}

.skill-category{
margin-bottom:35px;
}

.skill-category h3{
text-align:center;
margin-bottom:20px;
color:#444;
}

.skills-grid{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(120px,120px));
justify-content:center;
gap:0px;
}

.skill{
text-align:center;
padding:10px;
transition:0.3s;
}

.skill:hover{
transform:translateY(-6px);
}

.skill i{
font-size:42px;
margin-bottom:8px;
display:block;
}

/* colores iconos */

.html{color:#e34c26;}
.css{color:#264de4;}
.js{color:#f7df1e;}
.react{color:#61dafb;}

.spring{color:#6db33f;}
.python{color:#3776ab;}
.php{color:#777bb4;}

.sql{color:#cc2927;}
.mongo{color:#4db33d;}
.mysql{color:#00758f;}

.test{color:#28a745;}

/* EXPERIENCE SECTION */

.experience-section{
max-width:900px;
margin:20px auto;
}

.exp-title{
text-align:center;
font-size:22px;
margin-bottom:40px;
}

/* contenedor de cards */

.exp-container{
display:flex;
flex-direction:column;
align-items:center;
gap:30px;
}

/* card */

.exp-card{
width:100%;
max-width:700px;
background: rgba(225, 245, 255, 0.09);
 padding:22px;
border-radius: 16px;
border: 1px solid rgba(120, 190, 255, 0.25);
box-shadow:0 4px 12px rgba(0,0,0,0.08);
transition:0.2s;
backdrop-filter: blur(8px);
}

.exp-card:hover{
transform:translateY(-4px);
box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

/* header */

.exp-header{
display:flex;
align-items:center;
gap:15px;
margin-bottom:10px;
}

/* logo */

.exp-logo{
width:45px;
height:45px;
object-fit:contain;
}

/* textos */

.exp-company{
font-weight:600;
font-size:18px;
}

.exp-role{
font-size:18px;
font-weight:600;
margin-top:6px;
margin-bottom:10px;
color:#222;
}

.exp-date{
color:#888;
font-size:14px;
margin-top:10px;
}


/* footer */

.footer{
margin-top:0px;
padding:20px 10px;
text-align:center;
border-top:1px solid #eee;
background:#f7f7f7;
}

.footer-name{
font-weight:700;
margin-bottom:15px;
}

.footer-icons{
display:flex;
justify-content:center;
gap:30px;
margin-bottom:15px;
}

.footer-icons a{
font-size:25px;
color:#444;
transition:0.2s;
}

.footer-icons a:hover{
color:#000;
transform:translateY(-3px);
}

.footer-copy{
font-size:12px;
color:#888;
}

@media (max-width: 768px) {

 .hero h1{
  font-size:45px;
  }

  .hero h3{
font-size:35px;
}

  .hero p{
font-size:25px;
}

h2{
font-size:28px;
}


.education-header {
 font-size:24px;
}

.education p{
font-size:20px;
}

.skills-title{
font-size:28px;
}

exp-card {
    margin-left: 15px;
    margin-right: 15px;
 }

  
}









